## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%block name="title">评卖家</%block></title>
<%block name="meta_dk"></%block>
<%block name="css">
<link REL='stylesheet' href="/static/css/layout.css" />
</%block>
<%block name="js"></%block>
</head>
<body>
<%block name="header"></%block>
${next.body()}
<%block name="footer">
<div id="footer_wrap">
	<div id="footer">
	<a href="/about">关于评卖家</a>
	<a href="/forum/1">反馈建议</a>
	&copy; 2012 pingmaijia.com
	</div>
</div>
</%block>
<%block name="asynjs"></%block>
</body>
</html>