## -*- coding: utf-8 -*-
<%inherit file="base.html"/>
<%block name="css">
${parent.css()}
<link href="/static/css/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
</%block>
<%block name="js">
<script type="text/javascript" src="/static/js/jquery_min.js"  ></script>
<script type="text/javascript" src="/static/js/facebox.js"  ></script>
<script type="text/javascript" src="/static/js/mmquan.js"  ></script>
</%block>
<%block name="header">
<div id="header">
    <div id="logo">
        <h1><a href="/" class="yahei">居品网</a></h1>
        <!--<span>居家网购好帮手</span>*/ -->
    </div>
    <div id="navigate">
        <ul class="yahei"> 
            <li><a href="#">目录</a></li>
            <li><a href="#">单品</a></li>
            <li><a href="#">实惠</a></li>
        </ul>
    </div>
</div>
</%block>
${next.body()}
<%block name="footer">
<div id="footer">
</div>
</%block>

