## -*- coding: utf-8 -*-


## -*- coding: utf-8 -*-

<div class="json_dp">
    <div class="json_dp_item">
        <div style="float:left;margin-right:20px;">
            <img style="width:180px;height:180px;" src="${dp.bigimg}" />
        </div>
        <div style="overflow:hidden;zoom:1;margin-bottom:20px;">
            <h2 style="font-size:14px; margin-bottom:10px;">${sp.name}</h2>
            <h3 style="color:#666;margin-bottom:40px;">卖家：${sp.sellername}</h3>
            <h4 style="font-size:20px;margin-bottom:10px;">￥${sp.price}</h4>
            <a style="text-decoration:none;display:block;background-color:#e57c6c;padding:10px 20px;color:#fff;font-size:16px;font-weight:bold;width:80px;" href="http://item.taobao.com/item.htm?id=${sp.itemid}" target="_blank">去淘宝购买</a>
        </div>
        

    </div>
</div>

