## -*- coding: utf-8 -*-
<%inherit file="browse.html"/>

<%
    from helpers.utils import secondtodatetxt
%>


<div id="content">
    <div id="index_mmml" style="margin-top:20px;overflow:hidden;zoom:1;">
    <div class="index_b_title">
        <span class="b_title">妈妈目录</span><span style="margin-left:10px;" class="c6">实时跟踪奶粉最低价格和优惠信息</span>
    </div>
    <div id="index_mulu">
        <div style="overflow:hidden;zoom:1;border-bottom:1px solid #ddd;padding-bottom:10px;">
        <span style="float:left;" class="c6 cb">奶粉品牌</span>
        <ul class="index_mulu_lb">
            <li><a href="/naifen/s?q=b:Dumex/%E5%A4%9A%E7%BE%8E%E6%BB%8B">Dumex/多美滋</a></li>
            <li><a href="/naifen/s?q=b:Wyeth/%E6%83%A0%E6%B0%8F">Wyeth/惠氏</a></li>
            <li><a href="/naifen/s?q=b:Abbott/%E9%9B%85%E5%9F%B9">Abbott/雅培</a></li>
            <li><a href="">Meiji/明治</a></li>
        </ul>
        </div>

        <div style="overflow:hidden;margin-top:10px;">
            <h3 class="c6 cb" style="margin-bottom:10px;">实时比价</h3>
            <div style="float:left; width:465px;">
                <div class="index_mulu_img"><img src="http://img02.taobaocdn.com/bao/uploaded/i2/19389032880560445/T1.jdpXDVeXXXXXXXX_!!0-item_pic.jpg_160x160.jpg" /></div>
                <div style="margin-bottom:10px;"><a style="color:#996600;font-size:14px;" href="#">多美滋优衡多营养900g单罐装</a></div>
                <div><span class="small_t">最低：</span><span class="price" style="font-size:16px;">￥175.00</span></div>
                <div style="margin-top:5px;"><span class="small_t">可叠加：</span><span class="c6">多美滋590立减60，活动截止4.30</span></div>
                <div style="margin-top:20px;"><span class="c6">亚马逊官方直销</span></div>
            </div>
            <div style="overflow:hidden;zoom:1;">
                <h5 class="c6">3家官网、12家网络卖家提供报价</h5>
                <ul>
                    <li style="margin-top:5px;">
                        <dt style="float:left;width:100px;" class="c6">亚马逊自营</dt>
                        <dd style="float:left;width:160px;" class="price">￥175.00</dd>
                        <dd class="c6">满590减60</dd>
                    </li>
                    <li style="margin-top:5px;">
                        <dt style="float:left;width:100px;" class="c6">京东自营</dt>
                        <dd style="float:left;width:160px;" class="price">￥183.00</dd>
                        <dd class="c6">满598减60</dd>
                    </li>
                    <li style="margin-top:5px;">
                        <dt style="float:left;width:100px;" class="c6">天猫旗舰店</dt>
                        <dd style="float:left;width:160px;" class="price">￥198.00 + 8.00（运费）</dd>
                        <dd class="c6">新安怡价值69元进口宝宝霜</dd>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    

    <div id="index_mmt" style="margin-top:30px;overflow:hidden;zoom:1;">
    <div class="index_b_title">
        <span class="b_title">妈妈淘</span><span style="margin-left:10px;" class="c6">每天精选特惠优质商品</span>
    </div>
    <div id="index_sp_list">
    <%
        count_img = 0
    %>
    %for item in itemlist:
    <%
        count_img = count_img + 1
    %>
        <div class="index_sp${" index_last_row" if count_img%3==0 else ""}" data-id="${item.ID}">
           <div class="index_sp_img">
            <div class="index_sp_discount">${round(item.currentPrice*1.0/item.price*10,1)}折</div>
            <img src="${item.originalImage}" />
           </div>
           <div style="overflow:hidden;zoom:1;">
           <div class="index_sp_name">${item.fullTitle}</div>
           <div class="index_sp_promo"> 
           % if item.promoteTimeLimit:
                <div>还剩<br/>${secondtodatetxt(item.promoteTimeLimit)}</div>
           % endif
           </div>
           <div class="index_sp_price">
            <h5><del>￥${item.price}</del></h5>
            <h4>${item.currentPrice}</h5>
           </div>
           </div>
        </div>
    %endfor
    </div>
    </div>



</div>


