## -*- coding: utf-8 -*-
<%inherit file="browse.html"/>

<%
    from helpers.utils import secondtodatetxt
%>



<div id="content">
    <h2 style="color:#996600;font-size:20px;font-weight:bold;margin:20px 0 10px 0;">每天精选特惠优质商品</h2>

    <div id="index_sp_list">
    <%
        count_img = 0
    %>
    %for item in itemlist:
    <%
        count_img = count_img + 1
    %>
        <div class="index_sp${" index_last_row" if count_img%3==0 else ""}" data-id="${item.ID}">
           <div class="index_sp_img">
            <div class="index_sp_discount">${round(item.currentPrice*1.0/item.price*10,1)}折</div>
            <img src="${item.originalImage}" />
           </div>
           <div style="overflow:hidden;zoom:1;">
           <div class="index_sp_name">${item.fullTitle}</div>
           <div class="index_sp_promo"> 
           % if item.promoteTimeLimit:
                <div>还剩<br/>${secondtodatetxt(item.promoteTimeLimit)}</div>
           % endif
           </div>
           <div class="index_sp_price">
            <h5><del>￥${item.price}</del></h5>
            <h4>${item.currentPrice}</h5>
           </div>
           </div>
        </div>
    %endfor
    </div>




</div>

<div id="footer">
</div>
