## -*- coding: utf-8 -*-
<%inherit file="browse.html"/>

<%
    from helpers.utils import secondtodatetxt,getMarketName
    from webapp.settings import itemclass_name
%>


<div id="content">
    <div id="index_mmml" style="margin-top:20px;overflow:hidden;zoom:1;"> 
    <div class="index_b_title">
        <img style="width:28px;height:28px;" src="/static/img/testicon.png" /><span style="vertical-align: super;margin-left:5px;" class="b_title">实用目录</span><span style="margin-left:10px;vertical-align: super;" class="c6">实时跟踪最低价</span>
    </div>

    <div id="index_mulu_wrap">
    <div id="index_mulu">
        <div style="overflow:hidden;zoom:1;border-bottom:1px solid #ddd;padding-bottom:10px;">
        <span style="float:left;line-height: 30px;" class="c6 cb">奶粉品牌</span>
        <ul class="index_mulu_lb">
            <li><a href="/naifen/s?q=b:Dumex/%E5%A4%9A%E7%BE%8E%E6%BB%8B">Dumex/多美滋</a></li>
            <li><a href="/naifen/s?q=b:Wyeth/%E6%83%A0%E6%B0%8F">Wyeth/惠氏</a></li>
            <li><a href="/naifen/s?q=b:Abbott/%E9%9B%85%E5%9F%B9">Abbott/雅培</a></li>
            <li><a href="">Meiji/明治</a></li>
        </ul>
        </div>
        <%
            pr = product[0]
            prmatch = product[1]
        %>
        <div style="overflow:hidden;margin-top:10px;">
            <h3 class="c6 cb" style="margin-bottom:5px;">实时比价</h3>
            <div style="float:left; width:445px;margin-right:5px;">
                <div class="index_mulu_img"><img src="${pr.img}" /></div>
                <div style="margin-bottom:10px;"><a style="color:#996600;font-size:14px;" href="/naifen/${pr.ID}">${pr.name}</a></div>
                <div><span class="red_small_t">最低</span><span class="price" style="font-size:16px;vertical-align: middle;margin-left:5px;font-weight:bold;">￥${pr.price}</span></div>
                % if pr.promo:
                <div style="margin-top:5px;"><span class="small_t">可叠加：</span>
                <span class="c6">${pr.promo}</span>
                </div>
                % endif
                <div style="margin-top:20px;"><span class="c6">${getMarketName(pr.market)}</span></div>
            </div>
            <div style="overflow:hidden;zoom:1;">
                <h5 class="c6">3家官网、12家网络卖家提供报价</h5>
                <ul style="overflow:hidden;zoom:1;">
                    % for prm in prmatch:
                    <li style="margin-top:5px;overflow:hidden;zoom:1;">
                        <dt style="float:left;width:100px;" class="c6">${getMarketName(prm.market)}</dt>
                        <dd style="float:left;" class="price">￥${prm.price}</dd> 
                    </li>
                    % endfor
                </ul>
            </div>
        </div>
    </div>

    <div id="index_huodong">
        <h4>当前热门活动</h4> 
    </div>
    </div>

    </div>

    <div id="index_czdp" style="margin-top:30px;overflow:hidden;zoom:1;">
    <div class="index_b_title">
        <img style="width:28px;height:28px;" src="/static/img/testicon.png" /><span class="b_title" style="vertical-align: super;margin-left:5px;">超值单品</span><span style="margin-left:10px;vertical-align: super;" class="c6">汇集每日劲爆单品</span>
    </div>
    <div id="index_dp_list">
    <%
        count_dp = 0
    %>
    % for dptuple in dplist:
        <%
            count_dp +=1
            dp = dptuple[0]
            dpmatchlist = dptuple[1]
        %>
        <div class="index_dp ${" index_last_row" if count_dp%5 == 0 else ""}">
            <div class="index_dp_img">
                <a target="_blank" href="${dp.url}"><img src=${dp.image} /></a>
            </div>
            <h5 style="margin:5px 0;">${dp.name}</h5>
            <div class="clear">
            <span class="c6" style="line-height:21px;">${getMarketName(dp.market)}</span>
            <span style="float:right;font-size:14px;" class="price">￥${int(dp.price)}.00</span>
            </div>
            <div class="clear" style="border-top:1px solid #DDD;margin-top:5px; ">
                % for dpmatch in dpmatchlist:
                <dl>
                    <dt><a target="_blank" href="${dpmatch.url}" class="c6">${getMarketName(dpmatch.market)}</a></dt>
                    <dd>￥${int(dpmatch.price)}</dd> 
                </dl>
                % endfor
            </div>
        </div>
    % endfor
         
    </div>
    </div>
    

    <div id="index_mmt" style="margin-top:30px;overflow:hidden;zoom:1;">
    <div class="index_b_title">
        <img style="width:28px;height:28px;" src="/static/img/testicon.png" /><span class="b_title" style="vertical-align: super;margin-left:5px;">实惠淘</span><span style="margin-left:10px;vertical-align: super;" class="c6">每天精选特惠优质商品</span>
    </div>

    % for itemclass in ("nvzhuang","nvxie","danjianbao"):
    <div class="index_sp_list">
    <h5 class="index_sp_list_title">${itemclass_name[itemclass]}</h5>

    <%
        count_img = 0
    %>
    %for item in itemlist:
    <%
        if item.itemclass <> itemclass:
            continue
        count_img = count_img + 1
    %>
        <div class="index_sp${" index_last_row" if count_img%3==0 else ""}" data-id="${item.ID}">
           <div class="index_sp_img"> 
            <img src="${item.img}" />
           </div>
           <div style="overflow:hidden;zoom:1;">
           <div class="index_sp_name">${item.name}</div>
           <div class="index_sp_promo"> 
           % if item.promoteTimeLimit:
                <div><span class="red_small_t">还剩</span><span style="margin-left:5px;vertical-align:middle;font-size:12px;">${secondtodatetxt(item.promoteTimeLimit)}</span></div>
           % endif
           </div>
           <div class="index_sp_price">
            <h5>${round(item.price*1.0/item.pricebefore*10,1)}折<del>￥${int(item.pricebefore)}</del></h5>
            <h4>${int(item.price)}.00</h5>
           </div>
           </div>
        </div>
    %endfor
    </div>



    % endfor

    </div>



</div>


