## -*- coding: utf-8 -*-
<%inherit file="browse.html"/>
<%
    from webapp.settings import static_tp
%>

<div id="content">
    <div class="index_b_title">
        <h2 class="b_title">${static_tp[tp]["title"]}</h2>
    </div>
    <div class="mulu">
        % for lb in lblist:
        <div class="leibie">
            <div class="lb_title">
                ${lb[1]}
            </div>
            <ul>
                %for v in lb[2]:
                <li class="${"checked" if v['checked']==1 else ''}" ><a href="${v['href']}">${v["name"]}</a></li>
                %endfor
            </ul>
        </div>
        %endfor 
    </div>

    <div style="overflow:hidden;zoom:1;margin-top:20px;">
    <%
        pr_count = 0
    %>
        % for pr in prlist:
            %if pr_count%3 == 0:
                <div style="overflow:hidden;zoom:1;">
            %endif
            <div class="pr_inlist">
                <div class="clear">
                    <img src="${pr.img}" />
                </div>
                <a href="/${tp}/${pr.ID}">${pr.name}</a>
                <div class="pr_inlist_price">
                    <span class="small_t">最低</span> <span class="price">￥${pr.price}</span>  <span class="c6" style="margin-left:10px;">${pr.weight}g</span>
                </div>
                <div class="pr_inlist_promote"><span class="small_t">优惠</span> <span class="c6">满400减50<span></div>
                <div class="pr_inlist_market">亚马逊直销</div>
                <div class="pr_inlist_cp">
                    <a href="#" class="blue_link">3家官网、12家网络卖家提供报价</a>
                </div>
            </div>

            %if (pr_count+1)%3 == 0:
                </div>
            %endif
            <%
                pr_count = pr_count + 1
            %>

        % endfor
        % if (pr_count+1)%3 <> 0:
            </div>
        % endif
        <div></div>
    </div>

</div>


